# Database configs
database.driverClass=com.mysql.jdbc.Driver
database.jdbcUrl=jdbc:mysql://localhost:3306/payments
database.user=root
database.password=0000

# S3PO configs
s3po.minPoolSize=5
s3po.maxPoolSize=20
s3po.maxIdleTime=300
s3po.idleConnectionTestPeriod=3000
s3po.maxStatements=50

# Hibernate configs
hibernate.hbm2ddl.auto=update
hibernate.show_sql=false

#Hibernate class mapping
Bill=com.homework.entities.Bill
Card=com.homework.entities.Card
Actor=com.homework.entities.Actor

# For JUnit tests
database.test.jdbcUrl=jdbc:mysql://localhost:3306/payments_tests?createDatabaseIfNotExist=true
hibernate.test.show_sql=true
hibernate.test.hbm2ddl.auto=create-drop
hibernate.test.hbm2ddl.import_files=resources/test_init_data.sql